{% extends "base_template.html" %}
<hr/>


{% block content %}
 <br/>
<div class = "container">
  <div class="container">
    <div class="page-header">
      <h1>All Available Courses</h1>      
    </div>
   
  </div>
{% if courses %}

  
    
     <!-- display student details here -->
     <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Credit</th>
            <th scope="col">classStartDate</th>
            <th scope="col">classEndDate</th>
            <th scope="col">sectionName</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            
            {% for course in courses %}
           
            <th scope="row">{{course.id}}</th>
            <td>{{course.name}}</td>
            <td>{{course.credit}}</td>
            <td>{{course.classStartDate}}</td>
            <td>{{course.classEndDate}}</td>
            <td>{{course.sectionName}}</td>
          </tr>
    
          {% endfor %}
         
        </tbody>
      </table>
    
  

{% else %}
  <p>There are no courses in the school.</p>
{% endif %}
</div>

{% endblock %}