{% extends "base_template.html" %}


{% block content %}


<!-- jumbotron -->
<div class="container">


<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, Everyone!</h1>
          <p>This is a Attendance tracking application. Please login as student or teacher</p>
        </div>
      </div>

    </div>
<!-- login screen -->

<div class="container">


    <a class="btn btn-primary" href="/accounts/login">Please login here</a>

</div>




{% endblock %}