{% extends "base_template.html" %}


{% block content %}


<!-- jumbotron -->
<div class="container">


<div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><center><font face="Copperplate" size="20px" color="#FF7A59">Successfully Logged Out</font> </center></h1>
          <p>Thank you for using an application
          </p>
                 <!-- login screen -->

<div class="container">


  <a class="btn btn-primary" href="/accounts/login">Please login here</a>

</div>
        </div>
      </div>

    </div>

{% endblock %}