{% extends "base_template.html" %}
<hr/>


{% block content %}
 
<div class = "container">
<h1>Total Student =  {{students | length}}</h1>
{% if students %}
<ul>
  
    <li>
     <!-- display student details here -->
     <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Attendance(%)</th>
            <th scope="col">Attendance(string)</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            {{ user.username }}
            
            {% for student in students %}
            {% if user.username == student.name %}
            <th scope="row">{{student.name}}</th>
            <td>{{student.className}}</td>
            <td>{{student.sectionName}}</td>
            <td>{{student.attendance}}</td>
            <td>{{student.attendance2}}</td>
          </tr>
          {% endif %}
          {% endfor %}
         
        </tbody>
      </table>
    </li>
  
</ul>
{% else %}
  <p>There are no students in the school.</p>
{% endif %}
</div>

{% endblock %}