{% extends "base_template.html" %}
<hr/>


{% block content %}
<p>I am teacher html file line 6</p>
 
<div class = "container">
<h1>Teacher List size is =  {{teachers | length}}</h1>
{% if teachers %}
<ul>
  
    <li>
     <!-- display teacher details here -->
     <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            {{ user.username }}
            
            {% for teacher in teachers %}
            {% if user.username == teacher.name %}
            <th scope="row">{{teacher.name}}</th>
            <td>{{teacher.className}}</td>
            <td>{{teacher.sectionName}}</td>
            <td>{{teacher.attendance}}</td>
            <td>{{teacher.attendance2}}</td>
          </tr>
          {% endif %}
          {% endfor %}
         
        </tbody>
      </table>
    </li>
  
</ul>
{% else %}
  <p>There are no teachers in the school.</p>
{% endif %}
</div>

<p> I am at the end line 50 from teacher page</p>
{% endblock %}