
{% extends "base_template.html" %}
{% block content %}


<!-- grid system -->
<div class="container">
  <div class="row">
    <div class="col-sm">
     <!-- here is what teacher table goes  -->
     <div class="container">
      {{attendances | length}}
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Teachers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for teacher in teachers %}
            <td>{{teacher.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      </div>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>




<div class="container">
{{attendances | length}}
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Course</th>
    <th scope="col">Credit</th> 
  </tr>
</thead>
<tbody>
  <tr>
  {% for attendance in attendances %}
      <td>{{attendance.course}}</td>
      <td>{{attendance.course.credit}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>


{% endblock %}