{% extends "base_template.html" %}

{% block content %}

<div class = "container">
  
  <br/> <br/> <br/>
       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Student</th>
              <th scope="col">Current Attendance</th>
              <th scope="col">Total Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              
              {% for each in list_courseDetailedViewTeacher %}
            
              <th scope="row">{{courseName}}</th>
              <td>{{each.student}}</td>
              <td>{{each.totalAttendanceUptoToday}} / {{uptoTodaySchoolDays}} ({% widthratio each.totalAttendanceUptoToday uptoTodaySchoolDays 100 %} %)</td>
              <td>{{each.totalAttendanceUptoToday}} / {{totalSchoolDays}} ({% widthratio each.totalAttendanceUptoToday totalSchoolDays 100 %} %)</td>
            </tr>
           
            {% endfor %}
           
          </tbody>
        </table>
   
    

  
  <a href="/teacher">    Click here to go to teachers page</a>
  </div>

<br/><br/><br/><br/>
{% endblock %}